*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:Poppins,Arial;

background:#020617;

color:white;

}



.dashboard-header{


display:flex;

justify-content:space-between;

align-items:center;

padding:25px 8%;

background:#0f172a;


}



.dashboard-header h2{

color:#38bdf8;

}



button{


background:#22c55e;

border:none;

padding:12px 25px;

border-radius:25px;

color:white;

font-weight:bold;

cursor:pointer;

}




.dashboard{


width:90%;

margin:40px auto;

display:grid;

gap:30px;

}




.card{


background:#0f172a;

padding:30px;

border-radius:20px;

border:1px solid #1e293b;


}




.card h2{

margin-bottom:25px;

color:#38bdf8;

}






/* PROFILE */


#profileInfo p{

margin:10px 0;

color:#cbd5e1;

}






/* SLOTS */


.slots{


display:grid;

grid-template-columns:

repeat(auto-fit,minmax(130px,1fr));

gap:20px;


}



.slot{


padding:25px;

border-radius:15px;

text-align:center;

font-weight:bold;


}



.available{

background:#166534;

cursor:pointer;

}



.occupied{

background:#991b1b;

}




.reserved{

background:#92400e;

}




.slot:hover{

transform:translateY(-5px);

}






/* BOOKINGS */


.booking{


background:#1e293b;

padding:20px;

border-radius:15px;

margin-bottom:15px;


}



.cancel{


background:#ef4444;

margin-top:10px;

}



@media(max-width:600px){


.dashboard-header{

flex-direction:column;

gap:20px;

}


}
